<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Página de muestra para conceptos básicos del HTML">
    <meta name="keywords" content="HTML, CSS">
    <meta name="author" content="NATC - OCDT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Producto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloRegistrarProducto.css')}}">
  </head>
  <body>
    <header>
      <h1><br>
      </h1>
      <div align="center"><img src="{{ url_for('static', filename='img/logo.jpeg')}}" title="Logo" 
        align="middle" style="width: 133px; height: 79px; margin-left: 61px;">
      </div>
      <h1>Registro de producto</h1>
      <a href="#"></a> </header>
    <article>
      <section>
        <form name="formRegistrarProducto" method="POST" class="main" action="">
          <!--onsubmit="return validarFormulario();"-->
          <div class="areatrabajo">
            <div class="fila">
              <div class="s2"><strong>ID:</strong></div>
              <div class="s4"> <input name="idProducto" id="idProducto" value=""

                  placeholder="Digite el ID del producto" type="number"> </div>
            </div>
            <br>
            <div class="fila">
              <div class="s2"><strong>Nombre:</strong></div>
              <div class="s4"> <input name="nombreProducto" id="nombreProducto"

                  value="" placeholder="Digite el nombre del producto" type="text">
              </div>
            </div>
            <br>
            <div class="fila">
              <div class="s2"><strong>Cantidad de Unidades:</strong></div>
              <div class="s4"> <input name="cantidadProducto" id="cantidadProducto"

                  value="" placeholder="Digite las unidades" type="number"> </div>
            </div>
            <br>

              <div class="fila">
                    <div class="s2"><strong>Verifique la Cantidad:</strong></div>
                    <div class="s4"> <input name="VerificarCantidad" id="VerificarCantidad" value="" required=""

              placeholder="Confirme las unidades a ingresar" type="number"> </div>
                </div>
              <br>
            <div class="fila">
              <div class="s2"><strong>Descripción:</strong></div>
              <div class="s4"> <input name="descripcionProducto" id="descripcionProducto"

                  value="" placeholder="Breve descripción del producto" type="text">
              </div>
            </div>
            <br>
            <div class="fila">
              <div class="s2"><strong>Imagen:</strong></div>
              <div class="s4"> <input name="ImagenProducto" id="ImagenProducto"

                  value="" type="file"> </div>
            </div>

            <div class="fila"> <input class="boton" name="sb" id="sb"

value="Registrar" title="Clic para registrar" type="submit">&nbsp;&nbsp;<input class="boton"

name="btnLimpiar" id="btnLimpiar" value="Limpiar campos" title="Clic para regresar"

type="button"> &nbsp;&nbsp;<input class="boton" name="btn" id="btnRegresar"

value="Regresar" title="Clic para regresar" type="button" onClick="history.go(-1);"></div>

          </div>
        </form>




              </thead>



        </table>




      </section>
    </article>
  </body>
</html>
